.articleindexparent
{overflow: hidden;}

.articleindex
{	border: 1px solid #ecf0f1;
	float:left; 
  margin-right:20px;
  width: 800px;
  height: 200px;
  padding-bottom: 10px;
	}

.articleindex h3
{position: relative;
  padding-top: 15px;
padding-left: 295px;
padding-bottom: 7px;
padding-right: 15px;
font-size: 16px;
margin-top: -10px;
color: #333333;
}

.articletagtwo
{position: relative;
  float: left;
  padding-right: 5px;
  margin-top: -21px;
  margin-left: 20px;
  padding-left: 5px;
  padding-bottom: 5px;
  padding-top: 5px;
  border: 1px solid #c0392b;
  color: #333333;
  font-size: 10px;
  font-family: 'Open Sans';
  font-weight: bold;
 }

.articleindex h2
{position: relative;
  padding-left: 295px;
font-size: 21px;
padding-top: 17px;}

.articleindex h6
	{position: relative;
    padding-left: 295px;
    margin-top: -5px;}

.articleindex p
  {position: relative;
    padding-left: 295px;
    margin-top: -5px;
}

.articleindex h5
	{padding: 10px;
  }

#latestquestions
{ overflow:hidden;
  width: 300px;
  background-color: #f8f8f8;
  box-shadow: 0px 0px 2px rgba(34,34,34,0.6);
  border-bottom: 2px solid #333333;
  border-radius: 5px;
}

#latestquestions h2
{ font-size: 18px;
  color: #f8f8f8;
  font-family: 'Open Sans';
  font-weight: bold;
  letter-spacing: -1px;
  margin-top: 0px;
  padding-top: 5px;
  padding-bottom: 9px;
  text-align: center;
  background-color: #d9534f;
  margin-bottom: 3px;
}

.questionscontent
{padding-left: 15px;
padding-top: 5px;
padding-bottom: 5px;
padding-right: 10px;
border-bottom: 2px solid white;}

	@media screen and (max-width: 400px) {
   #articlebox { 
    float: none;
    margin-right:0;
    width:auto;
    border:0;
    }

  .articleindex { 
    margin-bottom: 10px;
    height: 250px;
    width: 253px;
    border-bottom:2px solid #000;    
  }

  .articleindex h5
  {margin-top: -10px;}

  .articletagtwo
  {margin-top: 60px;}

   .articleindex h2 { 
    position: relative;
		padding-top: 68px;
		padding-left: 15px;
		font-size: 21px; 
		margin-top: -87px;
  }
}