//showpage//

.showquestion
{	overflow: hidden;
}

#questionshow
{	float:left; 
  margin-right:110px;
  width: 700px;
  padding-bottom: 10px;
}

#questionshow h2
{margin-top: 0px;}

#questionshow p
{	padding-bottom: 7px;
}

.button
{margin-bottom: -30px;}

#relatedtoshowquestion
{ overflow:hidden;
  width: 300px;
  background-color: #f8f8f8;
  box-shadow: 0px 0px 2px rgba(34,34,34,0.6);
  border-bottom: 2px solid #333333;
  border-radius: 5px;
}

#relatedtoshowquestion h2
{ font-size: 18px;
  color: #f8f8f8;
  font-family: 'Open Sans';
  font-weight: bold;
  letter-spacing: -1px;
  margin-top: 0px;
  padding-top: 5px;
  padding-bottom: 9px;
  text-align: center;
  background-color: #d9534f;
  margin-bottom: 3px;
}

#relatedtoshowquestion p
{padding-left: 15px;
padding-top: 5px;
padding-bottom: 5px;
padding-right: 10px;
border-bottom: 2px solid white;}

	@media screen and (max-width: 400px) {
   #questionshow { 
    float: none;
    margin-right:0;
    width:auto;
    border:0;
    border-bottom:2px solid #000;    
  }
}

.custom
 	{width: 78px;
	}

.answer
{padding-top: 16px;
padding-bottom: 16px;
background-color: #f8f8f8;
margin-bottom: 10px;
margin-top: 4px;
border-radius: 5px;
max-width: 550px;}

.answer p
  { padding-left: 16px;
    padding-right: 16px;
  }

.answersquestion li
	{margin-top: 16px;
		list-style: none;
		background-color: #f1ecfa;
		width: 80px;
		text-indent: 6px;}

//showpage//

.answerstats
	{margin-top: 15px;
		width: 58%;
	}

.similarquestions
	{	float: right;
		position: absolute;
		margin-left: 750px;
		margin-top: -25px;
		max-width: 350px;
		max-height: 500px;
		outline-color: #c0392b;
		outline-width: 2px;
		outline-style: solid;
	}

.similarquestions h2
	{margin-left: 8px;
		margin-right: 8px;
		text-indent: 7px;
	}

.similarquestions p
	{	margin-left: 19px;
		margin-right: 16px;
		padding-top: 5px;
		padding-bottom: 5px;
	}

.articlequestions
	{	float: right;
		position: relative;
		margin-top: 25px;
		margin-left: 25px; 
		margin-right: 33px;
		max-width: 350px;
		max-height: 300px;
		outline-color: #c0392b;
		outline-width: 2px;
		outline-style: solid;
	}

.articlequestions h2
	{margin-left: 28px;
		margin-right: 28px;
		text-indent: 7px;
		text-decoration: underline;
	}

.articlequestions p
	{margin-left: 19px;
		margin-right: 16px;
		padding-top: 5px;
		padding-bottom: 5px;
	}

.taggedquestions
	{	float: right;
		position: absolute;
		margin-left: 873px;
		margin-top: -350px;
		max-width: 350px;
		max-height: 500px;
		outline-color: #c0392b;
		outline-width: 2px;
		outline-style: solid;
	}

.taggedquestions h2
	{margin-left: 8px;
		margin-right: 8px;
		text-indent: 7px;
	}

.taggedquestions p
	{margin-left: 19px;
		margin-right: 16px;
		padding-top: 5px;
		padding-bottom: 5px;
	}


.form-length
	{width: 100%;}

.tag-box
	{width: 10%;
		background-color: blue;}

.askmodal
	{margin-top: 9px;
		margin-left: 15px;
		margin-right: 20px;
	}

.modal-dialog
{position: relative;}

//index//

.indexparent
{overflow: hidden;}

#questionindex
{	border: 1px solid #ecf0f1;
	float:left; 
  margin-right:20px;
  width: 800px;
  max-height: 200px;
  padding-bottom: 10px;
	}

#questionindex:hover
{box-shadow: 2px 1px 2px rgba(34,34,34,0.1);}

#questionindex h3
{padding-top: 7px;
padding-left: 15px;
padding-right: 15px;
}

#questionindex h5
{padding-left: 15px;
padding-right: 15px;
}

#questionindex p
{padding-bottom: 7px;
	padding-left: 15px; 
}

textarea
{width: 160%;
margin-bottom: 10px;}

#articlequestionsindex
{ overflow:hidden;
  width: 300px;
  background-color: #f8f8f8;
  box-shadow: 0px 0px 2px rgba(34,34,34,0.6);
  border-bottom: 2px solid #333333;
  border-radius: 5px;
}

#articlequestionsindex h2
{ font-size: 18px;
  color: #f8f8f8;
  font-family: 'Open Sans';
  font-weight: bold;
  letter-spacing: -1px;
  margin-top: 0px;
  padding-top: 5px;
  padding-bottom: 9px;
  text-align: center;
  background-color: #d9534f;
  margin-bottom: 3px;
}

#articlequestionsindex p
	{margin-left: 0px;
		margin-right: 16px;
	}

.latestarticles
{padding-left: 15px;
padding-top: 5px;
padding-bottom: 5px;
padding-right: 10px;
border-bottom: 2px solid white;}

.latestarticles h5
{padding-top: 3px;
}

#articlequestionsindex:hover
{box-shadow: 2px 1px 2px rgba(34,34,34,0.5);}

	@media screen and (max-width: 400px) {
   #questionindex { 
    float: none;
    margin-right:0;
    width:auto;
    border:0;
    border-bottom:2px solid #000;    
  }
}