// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.widthcontrollertrial
{overflow: hidden;}

.articlebutton
{margin-bottom: -10px;
border-bottom: 1px;
border-radius: 0px;
margin-left: -1px;
font-family: 'Open Sans';
font-weight: bold;
color: green;
}

.articlebutton:hover
{box-shadow: 0px 0px 0px rgba(34,34,34,0.6);
background-color: #f8f8f8;}

#latestarticlestrial
{	float: left; 
  width: 800px;
  overflow: hidden;
  }

#latestarticlestrial h2
{margin-top: -44px; 
}

.articlepostrial
{ width: 515px;
  height: 305px;
  padding-bottom: 10px;
  margin-right: 15px;
  margin-bottom: 15px;
  box-shadow: 0px 0px 2px rgba(34,34,34,0.6);
}

.articlepostrial img
{width: 100%;
}

.articlepostrial h3
{position: relative;
padding-top: 8px;
padding-left: 15px;
margin-bottom: 12px;
font-size: 26px; 
margin-top: -87px;
background-color: rgba(#fff, .8);
}

.articlepostrial h4
{ 
  font-size: 14px;
  color: #333333;
  padding-bottom: 6px; 
  padding-left: 15px;
  padding-right: 5px;
  padding-top: 5px;
  margin-top: -12px;
  line-height: 18px;
  background-color: white;
  opacity: 0.8;}

.articlepostrial h6
{ position: relative;
  float: right;
  margin-top: -3px;
  margin-right: 14px;
}

.articlepostrial:hover
{box-shadow: 0px 0px 4px rgba(34,34,34,0.6);}

.articlepostrialtwo:hover
{box-shadow: 0px 0px 2px rgba(34,34,34,0.6);}

.tag
{position: relative;
  color: #333333;
  margin-left: 16px;
  padding: 7px;
  border-radius: 10px;
  font-family: 'Open Sans';
  font-weight: bold;
  outline-color: #c0392b;
  outline-width: 1px;
  outline-style: solid;
  background-color: rgba(#fff, 0.0);
  border: 0px;
 }

 .tag:hover
 {background-color: transparent;}

.articlepostrialtwo
{ width: 255px;
  height: 150px;
  margin-bottom: 7px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  border: 2px solid #f8f8f8;
}

.tagtwo
{position: relative;
  float: left;
  padding-right: 5px;
  margin-bottom: -6px;
  padding-left: 5px;
  padding-bottom: 5px;
  padding-top: 5px;
  border: 1px solid #c0392b;
  color: #333333;
  font-size: 10px;
  font-family: 'Open Sans';
  font-weight: bold;
 }

 .tagtwo:hover
 {background-color: transparent;}

.articlepostrialtwo h3
{
padding-top: 12px;
padding-left: 5px;
padding-right: 10px;
font-color: #333333;
font-size: 17px; 
margin-top: -9px;
height: 47px;
}

.articlepostrialtwo h5
{ color: #333333;
  padding-left: 5px;
  line-height: 17px;
}

.articlepostrialtwo h6
{ position: relative;
  float: right;
  margin-top: -3px;
  margin-right: 7px;
}

div.articlepostrial, div.articlepostrialtwo { float: left; }

#complainttrial
{	overflow:hidden;
  width: 300px;
  height: 305px;
  background-color: #f8f8f8;
  box-shadow: 0px 0px 2px rgba(34,34,34,0.6);
  border-bottom: 2px solid #333333;
  border-radius: 5px;
}

#complainttrial h4
{	font-size: 18px;
  color: #f8f8f8;
  margin-top: -3px;
  padding-top: 9px;
  padding-bottom: 9px;
  text-align: center;
  background-color: #d9534f;
  font-family: 'Open Sans';
  letter-spacing: -1px;
  font-weight: bold;
}

#complainttrial h5
{font-size: 17px;
text-align: center;
color: lighten(black, 35%);
}

.colourbar
{color: black;}

#complainttrial li
{list-style: none;}

#complainttrial h5
{	margin-left: 15px;
		margin-top: -6px;
		padding-bottom: 3px;
    color: lighten(black, 35%);
    font-size: 17px;
}

#complaintformtrial
{ margin-left: 8px;
  width: 94%;
  outline-style: solid;
  outline-width: 1px;
  outline-color: white;
  height: 35px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 2px;
  }

.brandlist li
{list-style: none;
display: inline;
font-size: 16px;
margin-right: 8px;
line-height: 37px;
padding: 5px;
}

.morebutton
{width: 35%;
color: #f8f8f8;
border-radius: 10px;
margin-left: 0px;
background-color: #5cb85c;
margin-top: -5px;
}

.morebutton:hover
{background-color: #5cb85c;
color: #f8f8f8;}

.form-controltrial
{font-size: 13px;
font-family: 'Open Sans';}

	@media screen and (max-width: 400px) {
   #latestarticlestrial { 
    float: none;
    margin-right:0;
    width:auto;
    border:0;
  }

  .articlepostrial { 
    margin-bottom: 10px;
    height: 270px;
    width: 253px;
  }

  .articlepostrialtwo {
    margin-bottom: 10px;
  }

  .brandlist li
  {line-height: 27px;
    padding: 2px;}

  .articlepostrial:hover
  {box-shadow: 0px 0px 2px rgba(34,34,34,0.8);}

  .articlepostrial h3 { 
    margin-top: -10px;
    width: 253px;
    padding-left: 15px;
    padding-bottom: 6px;
    background-color: #f8f8f8;
    font-size: 21px;
  }

  .articlepostrial h4 { 
    width: 253px;
    padding-left: 15px;
    background-color: #f8f8f8;
    padding-top: 1px;
    padding-bottom: 6px;
    margin-top: -7px;
  }

   #complainttrial {
    width: 255px;
    height: 185px;   }

  #complainttrial h5 {
    margin-left: 0px;
}

  #complainttrial h4 {
    font-size: 14px;
    letter-spacing: 0px;
}

    .brandlist li
    {margin-left: -9999px;}

    .morebutton
    {margin-left: 00px;}

    .form-controltrial
    {font-size: 11px;}

}

//homepagetrial//

.form-controlhome
{color: darken(#f8f8f8, 25%);
font-weight: bold;}

.widthcontrollermiddle
{overflow: hidden;}

.paddingbutton
{margin-bottom: -10px;
color: green;
border-bottom: 1px;
border-radius: 0px;
margin-left: -1px;
}

#latestarticlesmiddle
{ float: left; 
  width: 800px;
  padding-bottom: 0px;
  overflow: hidden;
  }

#latestarticlesmiddle p
{padding-left: 14px;
margin-top: -44px; 
}

.articleposmiddle
{ width: 405px;
  height: 145px;
  margin-bottom: 10px;
  padding-bottom: 10px;
    border: 2px solid #f8f8f8;
  margin-right: 20px;
  box-shadow: 0px 0px 2px rgba(34,34,34,0.6);
}

.tagthree
{position: relative;
  float: left;
  padding-right: 7px;
  margin-left: 10px;
  margin-bottom: -6px;
  padding-left: 5px;
  padding-bottom: 5px;
  padding-top: 5px;
  border: 1px solid #d9534f;
  color: black;
  font-size: 10px;
  font-family: 'Open Sans';
  font-weight: bold;
 }

 .tagthree:hover
 {background-color: transparent;}

.articleposmiddle h3
{padding-top: 8px;
  padding-left: 12px;
padding-right: 10px;
font-color: #333333;
font-size: 21px; 
margin-top: -5px;
min-height: 55px;
}

.articleposmiddle h4
{font-size: 14px;
  color: black; 
  padding-top: 8px;
  padding-left: 12px;
padding-right: 10px;
font-color: black;
margin-top: -5px;
}

.articleposmiddle h6
{ margin-left: 10px;
  margin-top: -10px;
  color: #333333;
  font-size: 14px;
}

.articleposmiddle:hover
{box-shadow: 0px 0px 4px rgba(34,34,34,0.6);}

.articleposmiddletwo:hover
{box-shadow: 0px 0px 2px rgba(34,34,34,0.6);}

.articleposmiddletwo
{ width: 360px;
  height: 300px;
  margin-bottom: 5px;
  padding-bottom: 10px;
  background-color: #f8f8f8;
}

.articleposmiddletwo h3
{
padding-top: 42px;
padding-left: 5px;
padding-right: 10px;
font-color: black;
font-size: 21px; 
margin-top: -5px;
height: 83px;
}

.articleposmiddletwo h5
{ color: black;
  padding-left: 5px;
}

.articleposmiddletwo h6
{ position: relative;
  float: right;
  margin-top: -3px;
  margin-right: 7px;
}

div.floattest, div.articleposmiddletwo { float: left; }

#complaintmiddle
{ overflow:hidden;
  border-radius: 5px;
  width: 300px;
  height: 310px;
  background-color: #f8f8f8;
  padding-top: -10px;
  margin-top: -10px;
  box-shadow: 0px 0px 2px rgba(34,34,34,0.6);
  border-bottom: 2px solid #333333;
}

#complaintmiddle h3
{ font-size: 18px;
  color: #f8f8f8;
  font-family: 'Open Sans';
  font-weight: bold;
  letter-spacing: -1px;
  margin-top: 11px;
  padding-top: 5px;
  padding-bottom: 9px;
  text-align: center;
  background-color: #d9534f;
}


#complaintmiddle h4
{ font-size: 18px;
  color: #f8f8f8;
  font-family: 'Open Sans';
  font-weight: bold;
  letter-spacing: -1px;
  margin-top: -19px;
  padding-top: 5px;
  padding-bottom: 9px;
  text-align: center;
  background-color: #d9534f;
}

#complaintmiddle h5
{font-size: 17px;
text-align: center;
color: lighten(black, 35%);
}

#complaintmiddle h6
{font-size: 13px;
text-align: center;
color: green;
padding-top: 1px;
}

.Community-Support p
{margin-right: 63px;}

.colourbar
{color: black;}

#complaintmiddle li
{list-style: none;}

#complaintmiddle h6
{   margin-top: -11px;
    padding-bottom: 3px;
    color: lighten(black, 35%);
    font-size: 14px;
}

#complaintformmiddle
{ margin-left: 8px;
  width: 94%;
  outline-style: solid;
  outline-width: 1px;
  outline-color: white;
  height: 35px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 2px;
  }

  .postbutton
{margin-left: 83px;
background-color: #5cb85c;
}

.homepageform
{width: 55%;
padding-left: 10px;}

.homepageformtwo
{width: 120%;
  padding-left: 45px;}

.form-controlhome
{font-family: 'Open Sans';
font-size: 13px;}

  @media screen and (max-width: 400px) {
   #latestarticlesmiddle { 
    float: none;
    margin-right:0;
    width:auto;
    border:0;
  }

  .articleposmiddle { 
    width: 255px;
    height: 160px;
    margin-top: 10px;
  }

   .articleposmiddletwo { 
    width: 255px;
    height: 205px;
    margin-top: 10px;
  }

  .articleposmiddletwo img
  {width: 100%;
}

   #complaintmiddle {
    margin-top: 10px;
    width: 255px;
    height: 305px;
   }

   #complaintmiddle h4
   {margin-top: -30px;}

   #complaintmiddle h3
   {margin-top: 0px;}

    .postbutton
    {margin-left: 67px;}

}

//homepagetrial//

.widthcontrollerbottom
{overflow: hidden;}

.questionbutton
{margin-top: -10px;
  margin-bottom: -10px;
border-bottom: 1px;
border-radius: 0px;
margin-left: -1px;
font-family: 'Open Sans';
font-weight: bold;
background-color: white;
color: #c0392b;
border: 1px solid #f8f8f8;
}

.questionbutton:hover
{background-color: white;
border: 1px solid white;}

#latestquestionstrial
{ float: left; 
  width: 800px;
  overflow: hidden;
  }

.questionpostrial
{ width: 251px;
  height: 135px;
  padding-bottom: 10px;
  padding-left: 5px;
  margin-right: 15px;
  margin-bottom: 15px;
  box-shadow: 0px 0px 2px rgba(34,34,34,0.6);
  border: 1px solid #f8f8f8;
}

.tagfour
{position: relative;
  float: left;
  padding-right: 2px;
  margin-left: 15px;
  margin-bottom: -39px;
  padding-left: 2px;
  padding-bottom: 2px;
  padding-top: 2px;
  border: 1px solid #d9534f;
  font-size: 10px;
  font-family: 'Open Sans';
  font-weight: bold;
 }

.questionpostrial h4
{position: relative;
margin-top: -10px;
padding-left: 15px;
padding-right: 7px;
font-size: 16px; 
}

.questionpostrial h4 a
{color: #c0392b;}


.questionpostrial h6
{font-size: 12px;
position: relative;
margin-top: -3px;
padding-left: 15px;
padding-right: 7px;
color: #333333;}

.questionpostrial h3
{float: right;
  font-size: 9px;
position: relative;
margin-top: -3px;
padding-right: 15px;
color: #c0392b;}

.questionpostrial:hover
{box-shadow: 0px 0px 4px rgba(34,34,34,0.6);}

#hotanswers
{ overflow:hidden;
  width: 300px;
  background-color: #f8f8f8;
  box-shadow: 0px 0px 2px rgba(34,34,34,0.6);
  border-bottom: 2px solid #333333;
  border-radius: 5px;
}

#hotanswers h3
{ font-size: 18px;
  color: #f8f8f8;
  font-family: 'Open Sans';
  font-weight: bold;
  letter-spacing: -1px;
  margin-top: 0px;
  padding-top: 5px;
  padding-bottom: 9px;
  text-align: center;
  background-color: #d9534f;
  margin-bottom: 3px;
}

.topusertips
{border-bottom: 2px solid white;}

.topusertips h6
{padding-left: 15px;}

.topusertips p
{padding-left: 15px;
padding-top: 5px;
padding-bottom: 5px;
padding-right: 10px;
}

  @media screen and (max-width: 400px) {
   #latestquestionstrial { 
    float: none;
    margin-right:0;
    width:auto;
    border:0;
  }

  #hotanswers
  {width: 255px;}
}