// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.showuserquestion
{overflow: hidden;}

#userquestionindex
{	border: 1px solid #ecf0f1;
	float:left; 
  margin-right:20px;
  width: 800px;
  max-height: 200px;
  padding-bottom: 10px;
	}

.badge
{outline-style: solid;
outline-width: 2px;
outline-color: #ecf0f1;
background-color: white;
margin-left: 4px;}

#userquestionindex:hover
{box-shadow: 2px 1px 2px rgba(34,34,34,0.1);}

#userquestionindex h3
{padding-top: 7px;
padding-left: 15px;
padding-right: 15px;
}

#userquestionindex h5
{padding-left: 15px;
padding-right: 15px;
}

#userquestionindex p
{padding-bottom: 7px;
	padding-left: 15px; 
}

	@media screen and (max-width: 400px) {
   #userquestionindex { 
    float: none;
    margin-right:0;
    width:auto;
    border:0;
    border-bottom:2px solid #000;    
  }
}