<footer class="footer">
  <small>
    <%= link_to "Consumer Tadka", root_url %>
    by Akosha
  </small>
  <nav>
    <ul>
      <li><%= link_to "Questions", questions_path %></li>
      <li><%= link_to "Articles", articles_path %></li>
      <li><a href="http://www.akosha.com/">Akosha</a></li>
    </ul>
  </nav>
</footer>