<footer class="footer">
  <small id="footerleft">
    <p><%= link_to "Consumer Tadka", root_url %></p>
    <h5>A Consumer Forum</h5>
  </small>
  <nav id="footerright">
    <ul>
      <li><%= link_to "Questions", questions_path %></li>
      <li><%= link_to "Articles", articles_path %></li>
    </ul>
  </nav>
</footer>