<footer class="footer">
  <small id="footerleft">
    <%= link_to image_tag("logo.jpg", :alt => "Vakil Search"), root_path, class: "navbar-brand-footer" %>
  </small>
  <nav id="footerright">
    <ul>
      <li><%= link_to "CONTACT", questions_path %></li>
      <li><%= link_to "ABOUT US", articles_path %></li>
    </ul>
  </nav>
</footer>